<article class="bg-dark" style="padding-top: 5em;">
    <section style="display: flex;">
        <ul class="text-light" style="margin-right: 49em; margin-left: 10em; list-style: none;">
            <h5>CONTACT US</h5>
            <li>
                (01) 674 3536
            </li>
            <li>
                contactus@amo.ie
            </li>
            <li>
                D24 K5A
            </li>
        </ul>
        <ul class="text-light" style="list-style: none;">
            <h5>FOLLOW US ON SOCIAL MEDIA</h5>
            <li>
                <i class="fab fa-instagram">Instagram</i><br>
                <i class="fab fa-youtube">Youtube</i><br>
                <i class="fab fa-twitter">Twitter</i>
            </li>
        </ul>
    </section>
</article> 