<div class="page-content">
    <div class="navbar-dark bg-dark" style="text-align: center; padding: 1em;">
        <ul class="d-flex justify-content-evenly" style="list-style: none; padding: 0; margin: 0;">
            {% for category in category_list %}
                <li>
                    <a class="dropdown-item text-light" href="{% url 'carparts:brands_by_category' category.id %}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
