<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Parts</h1>
    <ul>
        {% for part in part_list %}
            <li>
                {{ part.title }}
                {% if part.image %}
                    <br>
                    <img src="{{ part.image.url }}" alt="{{ part.title }}">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
